.business {
  --business-icon: 67px;
  padding-top: var(--spacing-section);
  text-align: center;
  &-heading {
    padding: 25px 0 32px;
    max-width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
  &-list {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 33px;
  }
  &-list__items {
    padding: 40px 45px 87px;
    background-color: $light-color;
    border: 2px solid #edeff7;
    border-radius: 14px;
  }
  &-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--business-icon);
    width: var(--business-icon);
    margin: 0 auto;
    border-radius: 100rem;
    background-color: #f4f7ff;
    margin-bottom: 26px;
    transition: all 0.4s linear;
  }
  &-items__desc {
    color: #7f8ea1;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(21 / 14);
  }
  &-heading {
    padding-bottom: 19px;
  }
  @media only screen and (max-width: 1279px) {
    &-list__items {
      padding: 40px 25px 40px;
    }
  }
  @media only screen and (max-width: 1023px) {
    &-list {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 340px;
      grid-auto-flow: column;
      grid-gap: 20px;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      grid-template-columns: unset;
      &::-webkit-scrollbar {
        display: none;
        width: 0;
      }
      & > * {
        scroll-snap-align: start;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    &-list__icon {
      margin-bottom: 0;
    }
  }
  @media only screen and (max-width: 424px) {
    &-list {
      grid-auto-columns: 100%;
    }
  }
  @media (hover: hover) {
    &-list__items {
      transition: all 0.4s linear;
      cursor: pointer;
      &:hover {
        border: transparent;
        box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
      }
      &:hover .business-list__icon {
        background-color: $purple-color;
      }
      &:hover .business-list__icon img {
        filter: brightness(10);
      }
    }
  }
}
