.news {
  padding-top: var(--spacing-section);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
    background-color: $purple-blur;
    border-radius: 67px;
    padding: 77px 165px;
  }
  &-content {
    max-width: 400px;
    width: 100%;
  }
  &-content__desc {
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    opacity: 0.8;
    color: #787e86;
  }
  &-subscribe__form {
    max-width: 373px;
    height: 53px;
    background-color: $light-color;
    border-radius: 26.5px;
    overflow: hidden;
    form {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      input {
        padding: 15px 8px 15px 21px;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-family: unset;
        color: #6b7d93;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(16 / 24);
      }
      button {
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
  .news-heading {
    font-weight: 600;
  }
  @media only screen and (max-width: 1279px) {
    &__container {
      padding: 77px 70px;
    }
  }
  @media only screen and (max-width: 1023px) {
    &__container {
      flex-direction: column;
      padding: 45px 50px;
      border-radius: 40px;
    }
    &-content {
      text-align: center;
    }
    &-content__desc {
      margin-top: 10px;
    }
    &-subscribe__form {
      margin-top: 20px;
      height: 48px;
      form button {
        font-size: 14px;
      }
    }
  }
  @media only screen and (max-width: 599px) {
    &__container {
      padding-left: 20px;
      padding-right: 20px;
    }
    &-content__desc {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 374px) {
    &-subscribe__form {
      height: 40px;
      form input {
        font-size: 14px;
      }
    }
    .btn--primary {
      padding: 11px 20px;
    }

  }
}
