.who {
  padding-top: 60px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 87px;
  }
  &__image {
    max-width: 600px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  &__content {
    max-width: 502px;
    width: 100%;
  }
  &-btn {
    font-size: 14px;
    line-height: calc(21 / 14);
    padding: 18px 30px;
    margin-top: 37px;
  }
  &-heading {
    padding: 25px 0;
  }
  @media only screen and(min-width: 1279px) {
    &__image {
      flex-shrink: 0;
    }
  }
  @media only screen and(max-width: 1279px) {
    &__container {
      gap: 0 20px;
    }
    &-btn {
      padding: 12px 20px;
      margin-top: 20px;
    }
  }
  @media only screen and(max-width: 767px) {
    &__container {
      flex-direction: column-reverse;
      gap: 12px 0;
    }
  }

}
